# Core scientific stack
numpy
scipy
pandas

# Visualization
matplotlib
seaborn
plotly


# Statistical modeling / ML
statsmodels
scikit-learn
xgboost

# Web scraping / APIs
requests
beautifulsoup4
fake-useragent
demjson3

# Progress tracking
tqdm

# Jupyter-related
ipykernel
jupyterlab
ipywidgets
